## INTRO TO DATA ENGINERING - ETL Part 1

- Extract is refers to pulling the source data from the original database or data source. With ETL, the data goes into a temporary staging area. With ELT it goes immediately into a data lake storage system.

- Transform is refers to the process of changing the structure of the information, so it integrates with the target data system and the rest of the data in that system.

- Load is refers to the process of depositing the information into a data storage system.

In [1]:
import pandas as pd
import requests
import sqlalchemy
from Dependencies import credential_db
import warnings
warnings.filterwarnings("ignore")

### 1. EXTRACT

#### Take listing data from production. 

First we have to connect to production jatimcamp5 and check the connection.

In [2]:
conn = sqlalchemy.create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'.format(credential_db.db_jatimcamp5_username,
                                                                         credential_db.db_jatimcamp5_password, 
                                                                         credential_db.db_jatimcamp5_host, 
                                                                         credential_db.db_jatimcamp5_name))

In [3]:
conn

Engine(mysql+pymysql://etlonly:***@35.225.122.70/jatimCamp5_production)

Now check whether it successfully connected or not.

In [4]:
query_table = """show tables;"""
df_query = pd.read_sql(query_table,conn)

In [5]:
df_query

  Tables_in_jatimCamp5_production
0                       calendars
1                        listings
2                         reviews

Successfully connected. Now extract data from listings and show it.

In [6]:
query_list = """select * from listings"""
df_list = pd.read_sql(query_list, conn)

In [7]:
df_list.head(3)

,index,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,100,1109224,https://www.airbnb.com/rooms/1109224,20160906204935,2016-09-07,4 bedroom Victorian Condo unit,None,"Featuring a fully equipped kitchen, this four-...","Featuring a fully equipped kitchen, this four-...",none,...,9.0,f,None,None,f,strict,f,t,1,0.95
1,101,1067184,https://www.airbnb.com/rooms/1067184,20160906204935,2016-09-07,Lovely bedroom/use of whole apt.,None,"I have a room available in a cozy, spacious, f...","I have a room available in a cozy, spacious, f...",none,...,9.0,f,None,None,f,flexible,f,f,1,1.32
2,102,13215952,https://www.airbnb.com/rooms/13215952,20160906204935,2016-09-07,The Blue Grotto,"A cozy retreat just over the hill from ""downto...",The room has a comfortable double bed. You can...,"A cozy retreat just over the hill from ""downto...",none,...,NaN,f,None,None,f,flexible,f,f,2,NaN

In [8]:
df_list.shape

(400, 96)

We have 400 rows and 96 columns.

### 2. TRANSFORM

#### Change price from Dollar to SGP

To change this, first we have to locate the data and then change the datatype to float as it was originally an object datatype.

In [9]:
df_list['price'].head()

0    $429.00
1     $95.00
2     $69.00
3     $85.00
4     $69.00
Name: price, dtype: object

In [10]:
df_list['price'] = df_list['price'].apply(lambda x: x.lstrip('$')).astype('float')

In [11]:
df_list['price'].head()

0    429.0
1     95.0
2     69.0
3     85.0
4     69.0
Name: price, dtype: float64

Now change to SGP - it's 1.3716 (per 5/8/2020)

In [12]:
df_list['price_in_SGP'] = df_list['price'] * 1.3716

In [13]:
df_list['price_in_SGP'].head()

0    588.4164
1    130.3020
2     94.6404
3    116.5860
4     94.6404
Name: price_in_SGP, dtype: float64

In [14]:
df_list.shape

(400, 97)

#### Change last review to datetime and filter it

In [15]:
df_list['last_review'] = pd.to_datetime(df_list['last_review'], errors='coerce')

In [16]:
df_list['last_review'].head()

0   2016-09-05
1   2016-09-02
2          NaT
3   2016-08-22
4   2016-08-15
Name: last_review, dtype: datetime64[ns]

In [17]:
date_filter = df_list['last_review'] < '2016-08-01'
df_list[date_filter].head(3)

,index,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,...,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,price_in_SGP
5,105,8923817,https://www.airbnb.com/rooms/8923817,20160906204935,2016-09-07,"Elegant studio,kitchn, soaking tub","Tall arched windows on east and south, stunnin...",Lovingly restored historic Greek and Colonial ...,"Tall arched windows on east and south, stunnin...",none,...,f,None,None,f,flexible,f,f,3,0.85,226.3140
8,108,5521378,https://www.airbnb.com/rooms/5521378,20160906204935,2016-09-07,"Cozy bedroom near train, bus, parks","Room includes a single bed that expands, a big...","The condo has a newer kitchen and bath, dishwa...","Room includes a single bed that expands, a big...",none,...,f,None,None,f,moderate,f,f,1,0.41,119.3292
10,110,2621242,https://www.airbnb.com/rooms/2621242,20160906204935,2016-09-07,Lovely one bedroom Apt,Our cool and comfortable one bedroom apartment...,This quaint one bed room apartment is located ...,Our cool and comfortable one bedroom apartment...,none,...,f,None,None,f,moderate,f,f,1,0.22,150.8760

In [18]:
df_list.shape

(400, 97)

In [19]:
df_list_clean = df_list[date_filter]

In [20]:
df_list_clean.head(3)

,index,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,...,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,price_in_SGP
5,105,8923817,https://www.airbnb.com/rooms/8923817,20160906204935,2016-09-07,"Elegant studio,kitchn, soaking tub","Tall arched windows on east and south, stunnin...",Lovingly restored historic Greek and Colonial ...,"Tall arched windows on east and south, stunnin...",none,...,f,None,None,f,flexible,f,f,3,0.85,226.3140
8,108,5521378,https://www.airbnb.com/rooms/5521378,20160906204935,2016-09-07,"Cozy bedroom near train, bus, parks","Room includes a single bed that expands, a big...","The condo has a newer kitchen and bath, dishwa...","Room includes a single bed that expands, a big...",none,...,f,None,None,f,moderate,f,f,1,0.41,119.3292
10,110,2621242,https://www.airbnb.com/rooms/2621242,20160906204935,2016-09-07,Lovely one bedroom Apt,Our cool and comfortable one bedroom apartment...,This quaint one bed room apartment is located ...,Our cool and comfortable one bedroom apartment...,none,...,f,None,None,f,moderate,f,f,1,0.22,150.8760

In [21]:
df_list_clean.shape

(113, 97)

### 3. LOAD 
Push the data to data warehouse.

But before that, drop the unnecessary columns first.

In [22]:
df_list_clean.drop(['listing_url', 'thumbnail_url', 
                    'medium_url', 'xl_picture_url',
                    'host_thumbnail_url', 'picture_url'],axis=1, inplace=True)

In [23]:
df_list_clean.shape

(113, 91)

Push the data and check the connection to data warehouse.

In [24]:
conn_dwh = sqlalchemy.create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'.format(credential_db.db_jatimcamp5_DWH_username, 
                                                                             credential_db.db_jatimcamp5_DWH_password, 
                                                                             credential_db.db_jatimcamp5_DWH_host, 
                                                                             credential_db.db_jatimcamp5_DWH_name))

In [25]:
conn_dwh

Engine(mysql+pymysql://etlonly:***@35.225.122.70/jatimCamp5_dwh)

In [26]:
df_list_clean.to_sql(con=conn_dwh, name='LISTING_CAHYA_995', if_exists='replace')

Check if it's actually connected.

In [27]:
query_list = 'select * from LISTING_CAHYA_995 limit 15'

df_list_dwh = pd.read_sql_query(query_list, conn_dwh)

In [28]:
df_list_dwh.head(3)

,level_0,index,id,scrape_id,last_scraped,name,summary,space,description,experiences_offered,...,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,price_in_SGP
0,5,105,8923817,20160906204935,2016-09-07,"Elegant studio,kitchn, soaking tub","Tall arched windows on east and south, stunnin...",Lovingly restored historic Greek and Colonial ...,"Tall arched windows on east and south, stunnin...",none,...,f,None,None,f,flexible,f,f,3,0.85,226.3140
1,8,108,5521378,20160906204935,2016-09-07,"Cozy bedroom near train, bus, parks","Room includes a single bed that expands, a big...","The condo has a newer kitchen and bath, dishwa...","Room includes a single bed that expands, a big...",none,...,f,None,None,f,moderate,f,f,1,0.41,119.3292
2,10,110,2621242,20160906204935,2016-09-07,Lovely one bedroom Apt,Our cool and comfortable one bedroom apartment...,This quaint one bed room apartment is located ...,Our cool and comfortable one bedroom apartment...,none,...,f,None,None,f,moderate,f,f,1,0.22,150.8760

Success !!

Using SQLAlchemy makes it possible to use any DB supported by that library. Legacy support is provided for sqlite3.Connection objects. The user is responsible for engine disposal and connection closure for the SQLAlchemy connectable.